<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%-include ('partials/header.html') %>
        <title><%=title%></title>
    </head>
    <body>
        <header>
            <%-include ('partials/secondary-navigation.html') %>
        </header>
        <br>
        <br>
        <br>
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm-6">
                    <img src="<%=imgLocks%>" class="card-img-top" alt="<%=textLocks%>">
                </div>
                <div class="col-sm-6">
                    <h2><%=textLocks%></h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit asperiores corporis nobis neque. Delectus eius, ex voluptatum fugiat atque qui corporis voluptatibus repudiandae minima rerum eligendi, explicabo vitae quos dolor hic error sint molestiae at nihil similique ad fugit tempore?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis tenetur autem sunt aspernatur numquam recusandae aliquam corporis voluptates placeat. Exercitationem provident recusandae repellendus fuga laboriosam voluptates inventore cupiditate excepturi quasi maxime sapiente minus, consectetur deserunt laborum quibusdam voluptatem praesentium suscipit.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <%-include ('partials/footer.html') %>
    </body>
</html>